* {
    box-sizing: border-box;
}

.dashBoardBackground {
    background-color: #040D21;
    height: 100vh;
    overflow: hidden;
    position: relative;

    .circles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1000px;
            height: 1000px;
            background-color: rgba(0, 220, 128, 0.322);
            border-radius: 50%;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 500px;
            height: 500px;
            background-color: #00DC82;
            border-radius: 50%;
        }
    }

    .app {
        position: relative;
        height: 100vh;

        .main {
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 0px;
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(200px);
        z-index: 1;
    }
}